.shop__title-banner {
  background-image: url("/shop-banner.png");
  background-size: cover;
  margin: 10px 0 20px;
  height: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  color: #efe4d3;
  letter-spacing: 1px;
  box-shadow: 0px 7px 0px black;
}

.shop__title-banner:hover {
  cursor: pointer;
  color: darkgray;
}

.shop__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
}

.shop__buttons {
  display: flex;
  justify-content: space-around;
}

.shop__button {
  margin: 20px 0 27.5px;
  width: 45%;
  height: 50px;
  background-color: #3c6161;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 22px;
  text-align: center;
  justify-items: center;
  box-shadow: 5px 5px 10px black;
}

.shop__button:hover {
  cursor: pointer;
  background-color: #efe4d3;
  color: black;
}
