.pagination__button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  transition: color 0.5s;
  margin: 0 1px;
}

.pagination__button_underlined {
  border-radius: 4px;
  border: #4e4d44 1px solid;
  color: #4e4d44;
}

.pagination__button_first:hover,
.pagination__button_last:hover,
.pagination__button:hover {
  color: #4e4d44;
  cursor: pointer;
  transition: color 0.5s;
}

.pagination__button:disabled,
.pagination__button_underlined:hover {
  cursor: default;
  color: #4e4d44;
}

@media (max-width: 350px) {
  .pagination__button {
    font-size: 15px;
  }
}
