.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  z-index: 100;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 50%;
  background-color: transparent;
}

.modal__close-button:hover {
  opacity: 80%;
}

.item-modal__container {
  width: 70vw;
  height: fit-content;
  max-height: 900px;
  max-width: 1200px;
  display: flex;
  background-color: #f2eee2;
  border: solid #171717 5px;
  align-self: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.item-modal__image-container {
  flex: 0 0 auto;
  height: auto;
  width: 52%;
  box-sizing: border-box;
  background-color: #171717;
  position: relative;
  scroll-snap-align: start;
  overflow-x: hidden;
}

.item-modal__image-wrapper {
  position: relative;
  display: flex;
  scroll-snap-type: x mandatory;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.item-modal__image {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  scroll-snap-align: start;
  position: static;
}

.image__smooth-transition {
  transition: transform 0.3s ease-out;
}

.item-modal__info-container {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px 0 0 20px;
}

.item-modal__info-container-info {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.item-modal__title {
  font-size: 32px;
  line-height: 1.8rem;
  padding-right: 30px;
}

.item-modal__price {
  font-size: 22px;
  margin-bottom: 20px;
}

.item-modal__description {
  line-height: 1.2rem;
  font-size: 22px;
  margin-bottom: 6px;
}

.item-modal__description-text {
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.5rem;
}

.item-modal__wood-types {
  align-items: center;
  border-bottom: 1px black solid;
}

.wood-types__title {
  margin: 0 0 2;
  font-size: 28px;
  line-height: 2rem;
}

.wood-types__description {
  padding-bottom: 8px;
}

.item-modal__purchase-section {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 15px;
  padding: 12px 0 7px;
}

.item-modal__stock {
  font-size: 22px;
}

.item-modal__out-of-stock {
  font-style: italic;
}

.out-of-stock__description {
  font-size: 18px;
  padding: 0 0 2px 5px;
}

.item-modal__button-wrapper {
  width: 45%;
}

.item-modal__button {
  width: 100%;
  height: 40px;
  background-color: #414141;
  font-size: 20px;
  line-height: 1.2rem;
  flex: 1;
  max-width: 250px;
}

.item-modal__button:hover {
  background-color: #445d41;
  color: white;
}

.item-modal__thumbnail-images {
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: calc(60vw * 0.36);
  max-height: 367px;
  border-top: black 1px solid;
  padding-top: 12px;
  margin-top: 10px;
}

.item-modal__thumbnail-container {
  width: calc(33.333% - 10px);
  height: calc(50% - 10px);
  box-sizing: border-box;
  margin: 5px;
  background-color: #171717;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-modal__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-modal__thumbnail:hover {
  cursor: pointer;
  filter: brightness(1.2) contrast(0.8) sepia(0.1);
}

.selected-thumbnail {
  border: 1px solid #0b3916;
  box-shadow: 0 0 8px #0b3916;
}

@media (max-width: 1200px) {
  .item-modal__container {
    width: 85vw;
    height: 66vw;
  }

  .item-modal__info-container {
    width: 48%;
    flex-direction: column;
    padding: 5px 0 0 10px;
    font-size: 20px;
  }

  .item-modal__info-container-info {
    display: flex;
    flex-direction: column;
  }

  .item-modal__title {
    font-size: 30px;
    margin-bottom: 0;
  }

  .item-modal__price {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .item-modal__description {
    line-height: 1.2rem;
    margin-bottom: 5px;
  }

  .item-modal__description-text {
    padding-right: 10px;
    line-height: 1.4rem;
  }

  .item-modal__purchase-section {
    align-items: center;
  }

  .item-modal__stock {
    font-size: 24px;
  }

  .out-of-stock__description {
    font-size: 20px;
  }

  .item-modal__thumbnail-images {
    height: calc(60vw * 0.45);
    max-height: 367px;
    padding-top: 8px;
    margin-top: 10px;
  }
}

@media (max-width: 920px) {
  .item-modal__container {
    padding: 10px;
  }

  .item-modal__image-container {
    width: 50%;
  }

  .item-modal__info-container {
    width: 52%;
    padding: 5px 0 0 10px;
    justify-content: space-between;
  }

  .item-modal__info-container-info {
    padding: 0 10px 0 5px;
  }

  .item-modal__title {
    font-size: 26px;
    line-height: 1.8rem;
  }

  .item-modal__price {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .item-modal__description {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .item-modal__description-text {
    font-size: 16px;
    line-height: 1.2rem;
    padding-bottom: 8px;
    border-bottom: none;
  }

  .wood-types__title {
    font-size: 18px;
  }

  .item-modal__purchase-section {
    display: flex;
    gap: 15px;
    padding: 8px 12px 10px 0;
    justify-content: space-between;
  }

  .item-modal__stock {
    font-size: 22px;
  }

  .out-of-stock__description {
    font-size: 16px;
    padding: 0 0 8px 1px;
  }

  .item-modal__button {
    height: 32px;
    font-size: 18px;
  }

  .item-modal__thumbnail-images {
    padding: 5px 0 0;
    margin-top: 0;
    gap: 5px;
  }

  .item-modal__thumbnail-container {
    margin: 0;
    width: calc(33.333% - 4px);
    height: calc(50% - 3px);
  }

  .modal__close-button {
    height: 18px;
    width: 18px;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 750px) {
  .item-modal__container {
    width: 70vw;
    height: 75vh;
    padding: 15px 10px 8px;
    flex-direction: column-reverse;
  }

  .item-modal__image-container {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
  }

  .item-modal__image {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .item-modal__info-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
    font-size: 20px;
  }

  .item-modal__info-container-info {
    display: flex;
    flex-direction: column;
  }

  .item-modal__title {
    font-size: 28px;
    margin-bottom: 0;
  }

  .item-modal__price {
    margin-bottom: 10px;
  }

  .item-modal__description {
    line-height: 1.2rem;
    margin-bottom: 5px;
  }

  .item-modal__description-text {
    padding-right: 10px;
  }

  .item-modal__purchase-section {
    align-items: center;
  }

  .item-modal__button-wrapper {
    width: 35%;
  }

  .item-modal__button {
    height: 35px;
  }

  .item-modal__thumbnail-images {
    height: fit-content;
    padding: 5px 0;
    margin-top: 2px;
    gap: 5px;
  }

  .item-modal__thumbnail-container {
    margin: 0;
    width: calc(16.666% - 5px);
    height: calc(33vw * 0.31);
  }
}

@media (max-width: 550px) {
  .item-modal__container {
    width: 100vw;
    height: 97dvh;
    padding: 10px;
    box-sizing: content-box;
  }

  .item-modal__info-container {
    justify-content: space-between;
  }

  .item-modal__info-container-info {
    padding: 8px 0px 0 2px;
  }

  .item-modal__title {
    font-size: 30px;
    line-height: 1.8rem;
  }

  .item-modal__price {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .item-modal__description {
    font-size: 22px;
  }

  .item-modal__description-text {
    font-size: 18px;
    line-height: 1.2rem;
    padding-bottom: 10px;
    padding-right: 0;
    border-bottom: none;
  }

  .item-modal__purchase-section {
    display: flex;
    gap: 15px;
    padding: 8px 12px 5px 0;
    justify-content: space-between;
  }

  .item-modal__stock {
    font-size: 22px;
  }

  .out-of-stock__description {
    font-size: 16px;
    padding: 0 0 8px 1px;
  }

  .item-modal__button-wrapper {
    width: 40%;
  }

  .item-modal__button {
    height: 40px;
  }

  .modal__close-button {
    top: 18px;
    right: 18px;
  }

  .item-modal__thumbnail-images {
    border-bottom: none;
  }

  .item-modal__thumbnail-container {
    height: calc(33vw * 0.42);
  }
}
