.gallery-card {
  background-color: #150c01;
  margin-bottom: 15px;
  width: 250px;
  height: 270px;
  color: #efe4d3;
  padding: 7px;
  box-shadow: 5px 5px 10px black;
}

.gallery-card__image-container {
  position: relative;
  height: 220px;
  width: 100%;
  background-color: white;
}

.gallery-card__image-container:hover {
  cursor: pointer;
  opacity: 0.9;
  filter: brightness(1.75) contrast(0.5) sepia(0.3);
}

.gallery-card__image-container::after {
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  margin: 7px 0;
  background-color: #efe4d3;
  align-self: center;
}

.gallery-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-card__image-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 16px;
  background-image: url("/image-title-background.png");
  line-height: 2.5rem;
  text-align: center;
  width: 100%;
}

.gallery-card__info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  font-size: 15px;
  padding-left: 7px;
  line-height: 1.2rem;
}

.gallery-card__price {
  margin: 5px 0;
}

.gallery-card__button {
  width: 80px;
  height: 25px;
  border: none;
  background-color: #3c6161;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  text-align: center;
  justify-items: center;
}

.gallery-card__button:hover {
  cursor: pointer;
  background-color: #efe4d3;
  color: black;
}
