.footer {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 15px 20px 38px;
  background-image: url("/footerBackground.png");
  color: white;
  font-size: 14px;
  line-height: 1.2rem;
  position: relative;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__logo {
  position: absolute;
  top: 15px;
  left: 40%;
  height: auto;
  width: 24vw;
  max-width: 200px;
}

.footer__text {
  margin: 0;
  line-height: 1.4rem;
  font-weight: 400;
}

@media (min-width: 540px) and (max-width: 800px) {
  .footer {
    padding: 15px 20px 20px;
    font-size: 12px;
  }

  .footer__logo {
    left: 38%;
    top: 10px;
  }

  .footer__text {
    line-height: 1.2rem;
  }
}

@media (min-width: 320px) and (max-width: 620px) {
  .footer {
    padding: 10px 20px 20px;
    font-size: 11px;
    gap: 10px;
  }

  .footer__logo {
    display: none;
  }

  .footer__text {
    line-height: 1.1rem;
  }
}
