select:invalid {
  color: gray;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding-top: 20px;
  align-items: center;
}

.contact-form__top-section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-form__inputs-wrapper {
  width: 48%;
}

.contact-form__inputs-wrapper_full-width {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0 29px;
  height: fit-content;
  max-height: 192px;
  width: calc(50% - 11.5px);
}

.inputs__column {
  width: 100%;
}

.second__column {
  align-self: flex-end;
  width: 100%;
}

.contact-form__label {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.contact-form__error {
  color: red;
  font-size: 14px;
  line-height: 1.2rem;
  display: block;
  height: fit-content;
  min-height: 20px;
  padding: 2px 0;
}

.contact-form__input {
  width: 100%;
  height: 32px;
  margin-top: 1px;
  line-height: 1.2rem;
  font-size: 18px;
  padding: 4px;
  box-sizing: border-box;
  border: black 1px solid;
}

.contact-form__input_email {
  margin-bottom: 2px;
}

.contact-form__reference-image {
  border: black dotted 1.5px;
  padding: 4px;
  margin-top: 5px;
  object-fit: cover;
  height: 23vw;
  width: 23vw;
  max-width: 280px;
  max-height: 280px;
}

.contact-form__message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

.contact-form__message {
  width: 100%;
  margin-top: 4px;
  font-size: 20px;
  border: black 1px solid;
  box-sizing: border-box;
}

.contact-form__submit-message {
  text-align: center;
  font-size: 18px;
}

.contact-form__submit {
  width: 200px;
  height: 45px;
  align-self: center;
  margin: 15px 0;
  font-size: 20px;
  line-height: 1.2rem;
  background-color: #414141;
}

.contact-form__submit:hover {
  background-color: #445d41;
  color: white;
}

.contact-form__submit_disabled {
  background-color: #868686;
  cursor: default;
}

.contact-form__submit_disabled:hover {
  background-color: #979797;
  cursor: default;
}

@media (max-width: 1290px) {
  .contact-form__inputs-wrapper_full-width {
    gap: 0 23px;
  }

  .contact-form__label {
    font-size: 18px;
  }

  .contact-form__input {
    font-size: 16px;
  }

  .contact-form__reference-image {
    max-width: 240px;
    max-height: 240px;
  }

  .contact-form__message {
    font-size: 16px;
  }
}

@media (max-width: 1070px) {
  .contact-form__reference-image {
    height: 30vw;
    width: 30vw;
  }
}

@media (max-width: 720px) {
  .contact-form {
    padding-top: 0;
  }

  .contact-form__top-section-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact-form__inputs-wrapper_full-width {
    height: fit-content;
    max-height: none;
  }

  .contact-form__inputs-wrapper {
    width: 100%;
    max-width: 400px;
    margin-bottom: 0;
  }

  .contact-form__image-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 5px;
  }

  .contact-form__reference-image {
    height: auto;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    box-sizing: border-box;
  }

  .contact-form__input {
    margin: 2px 0;
    font-size: 16px;
  }

  .contact-form__error {
    min-height: 10px;
  }

  .contact-form__message-container {
    width: 100%;
    max-width: 400px;
  }

  .contact-form__message {
    width: 100%;
    max-width: 400px;
    font-size: 16px;
  }

  .contact-form__submit {
    height: 40px;
    margin: 5px 0 15px;
    font-size: 18px;
  }
}
