.text-box {
  display: flex;
  justify-content: space-around;
  background-color: #f2eee2;
  margin: 10px 0 20px;
  color: black;
  height: fit-content;
  box-shadow: 5px 5px 10px black;
}

.text-box__section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  align-items: center;
}

.text-box__divider {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: #000;
  align-self: center;
}

.text-box__section_title {
  font-size: 22px;
  margin: 15px 0 10px;
}

.text-box__section_title::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 10px;
  background-color: #000;
  align-self: center;
}

.text-box__section_description {
  font-size: 14px;
  margin: 0 0 15px;
}
