.shop {
  position: relative;
}

.shop__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 15px 0 5px;
}

.shop__buttons {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.shop__buttons_hidden {
  display: none;
}

.hidden__button-container {
  width: 50%;
}

.shop__button {
  width: 100%;
  padding: 10px;
  font-size: 22px;
}

.shop__pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #171410;
  box-sizing: border-box;
  margin-top: 5px;
}

@media (max-width: 1020px) {
  .shop__button {
    font-size: 2.2vw;
  }
}

@media (max-width: 825px) {
  .shop__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 0;
  }

  .shop__buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5px 0 15px;
  }

  .hidden__button-container {
    width: 100%;
  }

  .shop__button {
    font-size: 3.4vw;
  }
}

/* hide 7th and 8th child */
@media (min-width: 710px) and (max-width: 825px) {
  .shop__gallery-homepage > :nth-child(7),
  .shop__gallery-homepage > :nth-child(8) {
    display: none;
  }
}

@media (max-width: 710px) {
  .shop {
    padding-bottom: 0;
  }

  .shop__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .hidden__button-container {
    width: 94%;
  }
}

@media (max-width: 400px) {
  .shop__gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
