a {
  color: white;
}

a:visited {
  color: white;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header__navigation {
  display: flex;
  background-color: #171717;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 4px 2px -2px rgba(255, 255, 255, 0.5);
  z-index: 1;
  padding-right: 40px;
  height: 65px;
  font-size: 26px;
  gap: 20px;
  border-image-repeat: repeat;
}

.header__navigation-text {
  transition: color 0.2s;
}

.header__navigation-text:hover {
  cursor: pointer;
  color: darkgray;
}

.header__logo {
  width: 9%;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 2%;
  max-width: 130px;
  z-index: 2;
}

.header__mobile-menu {
  display: none;
  border: none;
}

.mobile-menu__navigation {
  display: none;
}

@media (min-width: 800px) and (max-width: 1290px) {
  .header__navigation {
    padding-right: 30px;
    height: 55px;
    font-size: 22px;
    gap: 15px;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .header__navigation {
    padding-right: 25px;
    height: 45px;
    font-size: 18px;
    gap: 16px;
  }

  .header__logo {
    width: 75px;
    height: 75px;
    top: 12px;
    left: 4%;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .header {
    height: 65px;
  }

  .header__navigation {
    display: none;
  }

  .mobile-menu__navigation {
    display: block;
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #4e4d44;
    position: absolute;
    font-size: 26px;
    z-index: 2;
  }

  .mobile-menu__navigation_opened {
    opacity: 1;
    gap: 15px;
    top: 3px;
    right: 3px;
    width: 42vw;
    height: auto;
    transition: width 0.1s, height 0.3s;
    padding: 20px 35px 30px 20px;
    background-color: #4e4d44;
    border: #0f0f0f 2px solid;
  }

  .header__mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 7px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background: #4e4d44;
    border-radius: 4px;
    box-sizing: content-box;
  }

  .header__mobile-menu-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .mobile-menu__close-icon {
    width: 80%;
    height: 80%;
    transform: translateX(4%);
  }

  .header__mobile-menu-image:hover {
    cursor: pointer;
  }
}
