.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header__navigation {
  display: flex;
  background: #141414;
  padding-right: 30px;
  height: 55px;
  justify-content: flex-end;
  align-items: center;
  font-size: 22px;
  gap: 16px;
  box-shadow: 0px 4px 2px -2px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.header__navigation_text:hover {
  cursor: pointer;
  color: darkgray;
}

.header__logo {
  width: 9%;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 2%;
  z-index: 1000;
}

@media (min-width: 320px) and (max-width: 800px) {
  .header__navigation {
    padding-right: 25px;
    height: 40px;
    font-size: 18px;
    gap: 16px;
  }

  .header__logo {
    width: 75px;
    height: 75px;
    top: 12px;
    left: 4%;
  }
}
