.tip-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  height: 20vh;
  min-width: 300px;
  min-height: 200px;
  padding: 10px 20px;
  bottom: 65px;
  left: 50%;
  transform: translatex(-50%);
  background-color: #171717;
  border-radius: 8px;
  animation: fadeInOut 6s forwards;
  color: white;
  text-align: center;
  border: white 3px double;
  box-sizing: border-box;
}

.tip-modal__text {
  font-size: 18px;
  line-height: 1.8rem;
}

.tip-modal__arrows-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.tip-modal__arrow_left {
  transform: rotate(180deg);
}

.tip-modal__close-button {
  position: absolute;
  top: 12px;
  right: 12px;
}

.tip-modal__close-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tip-modal_fade-out {
  animation: fastFadeOut 1s forwards;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fastFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
