.woodshop__main {
  display: flex;
  flex-direction: column;
  box-shadow: inset black 5px 5px 10px;
  padding: 40px;
  position: relative;
}

@media (max-width: 910px) {
  .woodshop__main {
    padding: 30px 15px 15px;
  }
}

@media (max-width: 480px) {
  .woodshop__main {
    padding: 20px 0 0;
  }
}
