.gallery-card {
  background-color: #150c01;
  margin-bottom: 15px;
  width: 24vw;
  height: fit-content;
  max-width: 320px;
  max-height: 350px;
  color: white;
  padding: 7px;
}

.gallery-card__image-container {
  position: relative;
  height: 21vw;
  max-height: 300px;
  width: 100%;
  background-color: white;
}

.gallery-card__image-container:hover {
  cursor: pointer;
  opacity: 0.9;
  filter: brightness(1.4) contrast(0.7) sepia(0.2);
}

.gallery-card__image-container::after {
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  margin: 7px 0;
  background-color: #efe4d3;
  align-self: center;
}

.gallery-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-card__image-title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  margin: 0;
  font-size: 24px;
  line-height: 2rem;
  text-align: center;
  width: 100%;
  font-weight: 400;
}

.gallery-card__info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  font-size: 22px;
  padding-left: 7px;
  line-height: 1.2rem;
}

.gallery-card__price {
  font-size: 20px;
  margin: 5px 0;
}

.gallery-card__button {
  width: 100px;
  height: 30px;
  border: none;
  font-size: 18px;
}

@media (min-width: 820px) and (max-width: 1474px) {
  .gallery-card {
    max-width: 250px;
    max-height: 270px;
  }

  .gallery-card__image-container {
    max-height: 220px;
  }

  .gallery-card__image-title {
    font-size: 20px;
  }

  .gallery-card__info-container {
    font-size: 18px;
  }

  .gallery-card__price {
    font-size: 18px;
  }

  .gallery-card__button {
    width: 80px;
    height: 25px;
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 820px) {
  .gallery-card__image-title {
    font-size: 15px;
  }

  .gallery-card__price {
    margin: 5px 0;
  }

  .gallery-card__button {
    width: 65px;
    height: 25px;
  }
}

@media (min-width: 320px) and (max-width: 710px) {
  .gallery-card {
    margin-bottom: 10px;
    width: 38vw;
  }

  .gallery-card__image-title {
    font-size: 15px;
  }

  .gallery-card__image-container {
    position: relative;
    height: 35vw;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .gallery-card {
    margin-bottom: 8px;
    width: 75vw;
    max-width: none;
    max-height: none;
  }

  .gallery-card__image-container {
    position: relative;
    height: 70vw;
    max-height: none;
  }

  .gallery-card__image-title {
    font-size: 18px;
  }

  .gallery-card__price {
    font-size: 18px;
    margin: 5px 0;
  }

  .gallery-card__button {
    width: 28%;
    height: 30px;
    font-size: 16px;
  }
}
