.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.login-form__label {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.login-form__input {
  margin: 5px 0 20px;
  line-height: 1.2rem;
  font-size: 18px;
  padding: 4px;
  box-sizing: border-box;
}

.login-form__submit {
  width: 200px;
  height: 40px;
  background-color: #4f4f4f;
  align-self: center;
  margin: 25px;
  font-size: 18px;
  line-height: 1.2rem;
}

.login-form__submit:hover {
  background-color: #2e4a4a;
  color: white;
}

@media (max-width: 800px) {
  .login-form__submit {
    width: 160px;
    margin: 15px 0 25px;
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .login-form__input {
    margin-bottom: 25px;
    padding: 2px;
  }

  .login-form__submit {
    margin-top: 5px;
  }
}

.login-page__login-form {
  width: 70vw;
  max-width: 750px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

.login-page__title {
  font-size: 40px;
  color: #efe4d3;
  letter-spacing: 3px;
  margin: 0;
  padding: 10px;
  background-color: #191919;
  text-align: center;
  border-top: solid #4f4f4f 4px;
  border-left: solid #4f4f4f 4px;
  border-right: solid #4f4f4f 4px;
  border-radius: 8px 8px 0 0;
}

.form__wrapper {
  position: relative;
  padding: 52px 40px 3px;
  display: flex;
  flex-direction: column;
  background-color: #f2eee2;
  border-left: solid #4f4f4f 4px;
  border-right: solid #4f4f4f 4px;
  border-bottom: solid #4f4f4f 4px;
  border-radius: 0 0 8px 8px;
  align-items: center;
}

.login-form__accent {
  position: absolute;
}

.login-accent__top-left {
  top: 18px;
  left: 18px;
}

.login-accent__top-right {
  top: 18px;
  right: 18px;
  transform: rotate(90deg);
}

.login-accent__bottom-left {
  bottom: 18px;
  left: 18px;
  transform: rotate(270deg);
}

.login-accent__bottom-right {
  bottom: 18px;
  right: 18px;
  transform: rotate(180deg);
}

@media (max-width: 1290px) {
  .login-page__login-form {
    max-width: 600px;
  }

  .login-page__title {
    font-size: 34px;
  }
}

@media (max-width: 800px) {
  .login-page__login-form {
    width: 100%;
  }

  .form__accent {
    height: 45px;
    width: 45px;
  }

  .login-accent__top-left {
    top: 15px;
    left: 15px;
  }

  .login-accent__top-right {
    top: 15px;
    right: 15px;
    transform: rotate(90deg);
  }

  .login-accent__bottom-left {
    bottom: 15px;
    left: 15px;
    transform: rotate(270deg);
  }

  .login-accent__bottom-right {
    bottom: 15px;
    right: 15px;
    transform: rotate(180deg);
  }
}

@media (max-width: 520px) {
  .login-page__main {
    padding: 10px;
  }

  .login-page__login-form {
    width: 100%;
    padding: 0;
    margin: 15px;
  }

  .form__wrapper {
    padding: 30px 10px 0;
  }

  .login-page__title {
    font-size: 24px;
  }

  .login-form__accent {
    display: none;
  }
}
