a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

a:visited {
  color: white;
}

a:hover {
  cursor: pointer;
  color: darkgray;
}

.global__active-link:hover {
  cursor: default;
}

.global__active-link:visited {
  color: darkgray;
  cursor: default;
}

ul {
  list-style-type: none;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.layout {
  background-color: black;
  max-width: 1400px;
  margin: auto;
  position: relative;
  z-index: -1000;
  height: 100dvh;
}

.global__no-scroll {
  overflow: hidden;
}

.global__page-background {
  background-color: #4e4d44;
}

.global__image-background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1000;
  top: 0;
  left: 0;
  z-index: -100;
}

.global__component-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.global__z-index-adjust {
  z-index: 1;
}

.global__button {
  background-color: #4b6049;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  justify-items: center;
  transition: background-color 0.2s;
}

.global__button:hover {
  cursor: pointer;
  background-color: #efe4d3;
  color: black;
}

.global__box-shadow {
  box-shadow: 5px 5px 10px black;
}

.global__page-borders {
  border-right: 15px solid;
  border-left: 15px solid;
  border-image: url("/shared/pageBorder.png") 30 fill;
}

.global__wood-accent {
  width: 100%;
  height: 15px;
}

.global__wood-accent_reversed {
  transform: scaleX(-1);
}

.global__text-shadow {
  text-shadow: 2px 2px 5px black;
  mask: 1px 1px;
}

.global__border-radius {
  border-radius: 4px;
}

@media (min-width: 320px) and (max-width: 650px) {
  .global__wood-accent_reversed {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 630px) {
  .global__wood-accent {
    width: 100%;
    height: 12px;
  }

  .global__box-shadow {
    box-shadow: 3px 3px 8px black;
  }
}
