.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header__navigation {
  display: flex;
  background-image: url("/headerbackground.png");
  background-position: center;
  background-size: cover;
  padding-right: 30px;
  height: 55px;
  justify-content: end;
  align-items: center;
  color: white;
  font-size: 10px;
  gap: 16px;
  box-shadow: 0px 1.5px 2px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.header__navigation_text:hover {
  cursor: pointer;
  color: darkgray;
}

.header__logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 46px;
  z-index: 1000;
}
