.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  background-image: url("/footerBackground.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 11px;
  line-height: 1.2rem;
}
