.shop__gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px 20px;
  margin-top: 10px;
}

.shop__buttons {
  display: flex;
  justify-content: space-around;
}

.shop__buttons_hidden {
  display: none;
}

.hidden__button-container {
  width: 45%;
}

.shop__button {
  margin: 20px 0 27.5px;
  width: 100%;
  padding: 10px;
  font-size: 22px;
}

@media (min-width: 601px) and (max-width: 910px) {
  .shop__gallery {
    gap: 5px 15px;
  }

  .shop__button {
    margin: 20px 0 27.5px;
    font-size: 2.2vw;
  }
}

@media (max-width: 600px) {
  .shop__gallery {
    gap: 0;
    padding: 0;
  }

  .shop__buttons {
    flex-direction: column;
    align-items: center;
  }

  .hidden__button-container {
    width: 80%;
  }

  .shop__button {
    margin: 10px 0;
    font-size: 3.4vw;
  }
}

/* hide 7th and 8th child */
@media (min-width: 711px) and (max-width: 1190px) {
  .shop__gallery-homepage > :nth-child(7),
  .shop__gallery-homepage > :nth-child(8) {
    display: none;
  }
}
