.about__main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 40px;
  box-shadow: inset black 5px 5px 10px;
}

.about__title-banner {
  display: none;
}

.about__header-image {
  position: relative;
  width: 100%;
  max-height: 580px;
  height: 43vw;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}

.about__description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f2e3;
  text-align: center;
  border: 10px solid #151515;
  margin: 0px;
  align-items: center;
  padding: 45px 30px;
  height: fit-content;
}

.about__description-title {
  font-size: 38px;
  margin: 0;
  line-height: 2rem;
}

.about__description-title::after {
  display: block;
  content: "";
  border-bottom: black solid 2px;
  margin-top: 16px;
  width: 200px;
}

.about__description-text {
  margin: 16px 0 0;
  max-width: 450px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8rem;
}

.about__image {
  max-width: 40%;
  height: auto;
  border: 10px solid #151515;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .about__description-title {
    font-size: 36px;
  }

  .about__description-text {
    max-width: 400px;
    font-size: 19px;
    line-height: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .about {
    padding: 30px;
  }

  .about__header-image {
    max-height: 550px;
  }

  .about__description {
    width: 48%;
  }

  .about__description-title {
    font-size: 32px;
  }

  .about__description-title::after {
    margin-top: 14px;
    border-bottom: black solid 1.5px;
  }

  .about__description-text {
    font-size: 18px;
  }
}

@media (max-width: 945px) {
  .about {
    padding: 22px;
  }

  .about__description-title {
    font-size: 28px;
  }

  .about__description-title::after {
    width: 160px;
  }

  .about__description {
    border: 8px solid #151515;
    padding: 16px 24px;
  }

  .about__description-text {
    font-size: 16px;
    line-height: 1.4rem;
  }

  .about__image {
    border: 8px solid #151515;
    width: 46%;
  }
}

@media (max-width: 780px) {
  .about__header-image {
    height: 48vw;
  }

  .about {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
    height: fit-content;
  }

  .about__description {
    margin-top: 0;
    padding: 28px 38px;
    width: 100%;
    box-sizing: border-box;
  }

  .about__description-title {
    font-size: 4.2vw;
  }

  .about__description-title::after {
    margin-top: 18px;
  }

  .about__description-text {
    margin: 12px 0 0;
    max-width: 450px;
    font-size: 2.2vw;
    line-height: 1.6;
  }

  .about__image {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 650px) {
  .about {
    flex-direction: column-reverse;
  }

  .about__header-image {
    display: none;
  }

  .about__title-banner {
    width: 100%;
    display: block;
  }

  .about__image {
    box-sizing: border-box;
  }
}

@media (max-width: 560px) {
  .about {
    padding: 10px 0;
  }

  .about__description {
    padding: 20px 38px;
    width: 94%;
  }

  .about__image {
    width: 94%;
  }

  .about__description-title {
    display: none;
  }

  .about__description-title::after {
    display: none;
  }

  .about__description-text {
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.4rem;
  }
}

@media (max-width: 420px) {
  .about__description {
    margin-top: 16px;
    padding: 12px 20px;
  }

  .about__description-title::after {
    margin-top: 6px;
  }

  .about__description-text {
    margin: 8px 0 0;
    font-size: 2.8vw;
    line-height: 1.6;
  }
}
