.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.nav-bar__navigation {
  display: flex;
  background-color: #171717;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 4px 2px -2px rgba(255, 255, 255, 0.5);
  z-index: 1;
  padding-right: 40px;
  height: 65px;
  font-size: 26px;
  gap: 10px;
  border-image-repeat: repeat;
}

.nav-bar__navigation-text {
  color: white;
  transition: color 0.2s;
  border-radius: 5px;
  padding: 4px 10px;
  transition: background 0.4s;
}

.nav-bar__navigation:visited {
  color: white;
}

.nav-bar__navigation-text:hover {
  cursor: pointer;
  color: darkgray;
  background: #4e4d44ba;
  transition: background 0.4s;
}

.nav-bar__navigation_active-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: darkgray;
}

.nav-bar__navigation_active-link:hover {
  cursor: default;
  background: transparent;
}

.nav-bar__logo {
  width: 9%;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 2%;
  max-width: 130px;
  z-index: 2;
}

.nav-bar__mobile-menu {
  display: none;
  border: none;
}

.mobile-menu__navigation {
  display: none;
}

.test {
  color: black;
}

@media (max-width: 1290px) {
  .nav-bar__navigation {
    padding-right: 20px;
    height: 50px;
    font-size: 22px;
    gap: 10px;
  }
}

@media (max-width: 780px) {
  .nav-bar__navigation {
    height: 45px;
    font-size: 20px;
  }

  .nav-bar__logo {
    width: 75px;
    height: 75px;
    top: 12px;
    left: 4%;
  }
}

@media (max-width: 600px) {
  .nav-bar {
    height: 65px;
  }

  .nav-bar__navigation {
    display: none;
  }

  .mobile-menu__navigation {
    display: block;
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #4e4d44;
    position: absolute;
    font-size: 26px;
    z-index: 2;
  }

  .mobile-menu__navigation_opened {
    opacity: 1;
    gap: 15px;
    top: 3px;
    right: 3px;
    width: 42vw;
    height: auto;
    transition: width 0.1s, height 0.3s;
    padding: 20px 10px 30px 30px;
    background-color: #4e4d44;
    border: #0f0f0f 2px solid;
  }

  .nav-bar__mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 7px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background: #4e4d44;
    border-radius: 4px;
    box-sizing: content-box;
  }

  .nav-bar__mobile-menu_opened {
    background-color: transparent;
  }

  .nav-bar__mobile-menu-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .mobile-menu__close-icon {
    width: 80%;
    height: 80%;
    transform: translateX(4%);
  }

  .nav-bar__mobile-menu-image:hover {
    cursor: pointer;
  }
}
