.image-card {
  position: relative;
  width: 30%;
  height: 19vw;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efe4d3;
  margin-bottom: 10px;
  transition: filter 0.2s;
  background-color: #171717;
}

.image-card:hover {
  cursor: pointer;
  filter: brightness(1.2) contrast(0.7) sepia(0.4);
  color: black;
}

.image-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-card__title {
  color: white;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 2.4rem;
  box-sizing: border-box;
  padding-top: 2px;
}
