.image-card {
  position: relative;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efe4d3;
  margin-bottom: 10px;
}

.image-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-card:hover {
  cursor: pointer;
  filter: brightness(1.75) contrast(0.5) sepia(0.3);
  color: black;
}

.image-card__title {
  color: white;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 35px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}
